# for projects that use SCons for building: http://http://www.scons.org/
.sconsign.dblite
io_scene_cgf.zip
__pycache__/
.ycm_extra_conf.py
.mac_env/
.mac_venv/
.venv/
.win_env/
.win_venv/
*.lst
*.csv
myenv
.vscode/launch.json
